<div class="container-fluid">
  <img src="assets/img/pokemon_logo.png" class="img-fluid rounded mx-auto d-block" alt="Pokemon Logo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card mb-6 box-shadow">
          <img class="img-fluid rounded mx-auto d-block" src="assets/img/deck.png" alt="Deck" style="height: 225px; display: block;">
          <div class="card-body">
            <h5 class="card-title">Decks</h5>
            <p class="card-text">Choose Pokemon and an item to create your own deck.</p>
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" routerLink="/decks">View</a>
              <a class="btn btn-sm btn-outline-secondary" routerLink="/add-deck">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card mb-6 box-shadow">
          <img class="img-fluid rounded mx-auto d-block" src="assets/img/pokemon.png" alt="Pokemon" style="height: 225px; display: block;">
          <div class="card-body">
            <h5 class="card-title">Pokemon</h5>
            <p class="card-text">Add and manage Pokemon.</p>
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" routerLink="/pokemon">View</a>
              <a class="btn btn-sm btn-outline-secondary" routerLink="/add-pokemon">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card mb-6 box-shadow">
          <img class="img-fluid rounded mx-auto d-block" src="assets/img/items.png" alt="Items" style="height: 225px; display: block;">
          <div class="card-body">
            <h5 class="card-title">Items</h5>
            <p class="card-text">Add items needed for the battle.</p>
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" routerLink="/items">View</a>
              <a class="btn btn-sm btn-outline-secondary" routerLink="/add-item">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <img class="img-fluid rounded mx-auto d-block" src="assets/img/records.png" alt="Records" style="height: 225px; display: block;">
          <div class="card-body">
            <h5 class="card-title">Records</h5>
            <p class="card-text">Record your battle and remember it.</p>
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" routerLink="/records">View</a>
              <a class="btn btn-sm btn-outline-secondary" routerLink="/add-record">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Settings</h2>
    </div>
    <div class="card-body">
      <button class="btn btn-primary container-fluid mb-2"
              id="btnCreateDatabase"
              type="button"
              name="btnCreateDatabase"
              (click)="btnCreateDatabase_click()">
        Create Database
      </button>

      <button class="btn btn-danger container-fluid"
              id="btnClearDatabase"
              type="button"
              name="btnClearDatabase"
              (click)="btnClearDatabase_click()">
        Clear Database
      </button>
    </div>
  </div>
</div>
