<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-item" routerLink="home">Home</a>
        <a class="nav-link nav-item" routerLink="decks">Decks</a>
        <a class="nav-link nav-item" routerLink="pokemon">Pokemon</a>
        <a class="nav-link nav-item" routerLink="items">Items</a>
        <a class="nav-link nav-item" routerLink="records">Records</a>
      </div>
    </div>
  </div>
</nav>
