<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Add a Pokemon</h2>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="mb-3">
          <label for="txtPokemonName"class="form-label">Pokemon Name</label>
          <input type="text" id="txtPokemonName" name="txtPokemonName"
                 class="form-control" [(ngModel)]="pokemon.pokemonName" required>
        </div>
        <div class="mb-3">
          <label for="txtType"class="form-label">Type</label>
          <select class="form-select" id="txtType" name="txtType"
                  [(ngModel)]="pokemon.type" required>
            <option *ngFor="let type of types" value="{{ type }}">{{ type }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="txtHp"class="form-label">HP</label>
          <input type="text" id="txtHp" name="txtHp"
                 class="form-control" [(ngModel)]="pokemon.hp" required>
        </div>

        <button type="button"
                id="btnAdd"
                name="btnAdd"
                class="btn btn-primary"
                (click)="btnAdd_click()">
          Add
        </button>
      </form>
    </div>
<!--    <div class="card-footer">-->
<!--      {{myForm.value | json}}-->
<!--      <br>-->

<!--    </div>-->
  </div>
</div>
