<div class="d-flex justify-content-around m-2">
  <h3>Pokemon</h3>
  <a class="btn btn-outline-secondary" routerLink="/add-pokemon">Add Pokemon</a>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="mb-3" *ngFor="let pokemon of pokemons">
        <div class="card box-shadow">
          <div class="card-body">
            <div class="d-flex">
              <div class="p-2 flex-grow-1">
                <h2 class="card-title mb-3">{{ pokemon.pokemonName }}</h2>
                <h5 class="card-subtitle mb-2"><small class="text-muted">Type </small> {{ pokemon.type }}</h5>
                <h5 class="card-subtitle"><small class="text-muted">HP </small> {{ pokemon.hp }}</h5>
              </div>
              <div class="p-2 d-flex align-items-end">
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-sm btn-outline-primary" style="height: 35px; width: 80px;">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-danger" style="height: 35px; width: 80px;">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
